.gpt3__brand {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.gpt3__brand div {
    flex: 1;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gpt3__brand img {
    cursor: pointer;
}

.google {
    width: 71.1px;
    height: 24.15px;
}

.slack {
    width: 95.83px;
    height: 24.15px;
}

.atlassian {
    width: 112.44px;
    height: 24.15px;
}

.dropbox {
    width: 120.74px;
    height: 24.15px;    
}

.shopify {
    width: 84.52px;
    height: 24.15px;    
}